###**Step 1: Data Loading:**

In [4]:
#Importing Libraries:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
sales=pd.read_excel('C:/Users/prach/OneDrive/Desktop/PROJECTS/Superstore Sales Analysis/SuperStore_data.xlsx')
sales

,Row ID+O6G3A1:R6,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Category,Sub-Category,Product Name,Sales,Quantity,Profit,Returns,Payment Mode,ind1,ind2
0,4918.0,CA-2019-160304,2019-01-01,2019-01-07,Standard Class,BM-11575,Brendan Murry,Corporate,United States,Gaithersburg,...,Furniture,Bookcases,"Bush Westfield Collection Bookcases, Medium Ch...",$73.94,1.0,28.2668,NaN,Online,NaN,NaN
1,4919.0,CA-2019-160304,2019-01-02,2019-01-07,Standard Class,BM-11575,Brendan Murry,Corporate,United States,Gaithersburg,...,Furniture,Bookcases,"Bush Westfield Collection Bookcases, Medium Ch...",$173.94,3.0,38.2668,NaN,Online,NaN,NaN
2,4920.0,CA-2019-160304,2019-01-02,2019-01-07,Standard Class,BM-11575,Brendan Murry,Corporate,United States,Gaithersburg,...,Technology,Phones,GE 30522EE2,$231.98,2.0,67.2742,NaN,Cards,NaN,NaN
3,3074.0,CA-2019-125206,2019-01-03,2019-01-05,First Class,LR-16915,Lena Radford,Consumer,United States,Los Angeles,...,Office Supplies,Storage,Recycled Steel Personal File for Hanging File ...,$114.46,2.0,28.6150,NaN,Online,NaN,NaN
4,8604.0,US-2019-116365,2019-01-03,2019-01-08,Standard Class,CA-12310,Christine Abelman,Corporate,United States,San Antonio,...,Technology,Accessories,Imation Clip USB flash drive - 8 GB,$30.08,2.0,-5.2640,NaN,Online,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10926,7467.0,CA-2019-138282,2019-05-19,2019-05-23,Standard Class,AH-10690,Anna Häberlin,Corporate,United States,Los Angeles,...,Office Supplies,Appliances,Staple holder,$87.84,8.0,23.7168,NaN,Cards,NaN,NaN
10927,10295.0,CA-2019-9588,2020-01-20,2020-01-27,First Class,NM-18520,Neoma Murray,Consumer,United States,Los Angeles,...,Furniture,Furnishings,3M Polarizing Light Filter Sleeves,$104.53,6.0,51.4740,NaN,Online,NaN,NaN
10928,4689.0,US-2020-154851,2020-03-30,2020-04-03,Standard Class,BP-11155,Becky Pak,Consumer,United States,Lancaster,...,Office Supplies,Binders,"Acco Pressboard Covers with Storage Hooks, 14 ...",$115.72,5.0,-4.7625,NaN,COD,NaN,NaN
10929,13955.0,CA-2020-1896,2020-02-08,2020-02-12,Standard Class,JL-15130,Jack Lebron,Consumer,United States,Lancaster,...,Office Supplies,Storage,Sterilite Officeware Hinged File Box,$98.84,2.0,1.4672,NaN,Online,NaN,NaN
10930,582.0,CA-2020-145233,2020-12-01,2020-12-05,Standard Class,DV-13465,Dianna Vittorini,Consumer,United States,Denver,...,Technology,Phones,GE 30524EE4,$483.38,3.0,52.9173,NaN,Online,NaN,NaN

In [51]:
#No of rows and columns in the dataset:
print('No of rows and columns: ',sales.shape)

No of rows and columns:  (10931, 23)

In [53]:
#To get statistical measures of numeric data:
sales.describe()

,Row ID+O6G3A1:R6,Order Date,Ship Date,Quantity,Profit,Returns,ind1,ind2
count,10920.000000,10931,10931,10922.000000,10916.000000,527.0,0.0,0.0
mean,8444.465842,2020-02-02 09:51:21.621077760,2020-02-06 08:44:26.325130496,3.769456,27.087208,1.0,NaN,NaN
min,1.000000,2019-01-01 00:00:00,2019-01-03 00:00:00,1.000000,-6599.978000,1.0,NaN,NaN
25%,4669.750000,2019-08-14 12:00:00,2019-08-19 00:00:00,2.000000,1.733475,1.0,NaN,NaN
50%,9204.500000,2020-02-03 00:00:00,2020-02-07 00:00:00,3.000000,8.073000,1.0,NaN,NaN
75%,12265.250000,2020-08-18 00:00:00,2020-08-22 00:00:00,5.000000,27.882000,1.0,NaN,NaN
max,14994.000000,2020-12-31 00:00:00,2021-01-07 00:00:00,14.000000,8399.976000,1.0,NaN,NaN
std,4395.316775,NaN,NaN,2.207683,299.664802,0.0,NaN,NaN

In [52]:
#To get information about the data and its columns:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10931 entries, 0 to 10930
Data columns (total 23 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Row ID+O6G3A1:R6  10920 non-null  float64
 1   Order ID          10931 non-null  object
 2   Order Date        10931 non-null  datetime64[ns]
 3   Ship Date         10931 non-null  datetime64[ns]
 4   Ship Mode         10919 non-null  object
 5   Customer ID       10931 non-null  object
 6   Customer Name     10931 non-null  object
 7   Segment           10931 non-null  object
 8   Country           10931 non-null  object
 9   City              10931 non-null  object
 10  State             10931 non-null  object
 11  Region            10931 non-null  object
 12  Product ID        10931 non-null  object
 13  Category          10918 non-null  object
 14  Sub-Category      10931 non-null  object
 15  Product Name      10931 non-null  object
 16  Sales             10931 non-null  object
 17  Quantity          10922 non-null  float64
 18  Profit            10916 non-null  float64
 19  Returns           527 non-null    float64
 20  Payment Mode      10931 non-null  object
 21  ind1              0 non-null      float64
 22  ind2              0 non-null      float64
dtypes: datetime64[ns](2), float64(6), object(15)
memory usage: 1.9+ MB

###**Step 2: Data Cleaning and Transformation**

Solving Duplicated values:

In [6]:
#Checking for all duplicates:
print('No of Duplicated rows: ',sales.duplicated().sum())

No of Duplicated rows:  30

In [7]:
#Dropping Duplicated rows:
sales.drop_duplicates(inplace=True)

In [8]:
#updated no of rows:
sales.shape

(10901, 23)

Dealing with missing values

In [9]:
#Checking for null values:
sales.isnull().sum()

Row ID+O6G3A1:R6       11
Order ID                0
Order Date              0
Ship Date               0
Ship Mode              12
Customer ID             0
Customer Name           0
Segment                 0
Country                 0
City                    0
State                   0
Region                  0
Product ID              0
Category               13
Sub-Category            0
Product Name            0
Sales                   0
Quantity                9
Profit                 15
Returns             10375
Payment Mode            0
ind1                10901
ind2                10901
dtype: int64

In [10]:
#Dropping critical rows with missing unique ids:
sales.dropna(subset=['Row ID+O6G3A1:R6'], inplace=True)

#Filling categorical variables using most frequent value (Mode):
sales['Category'].fillna(sales['Category'].mode()[0], inplace=True)
sales['Ship Mode'].fillna(sales['Ship Mode'].mode()[0],inplace=True)

#Dropping the missing values in Quantity and profit: Manual setting might create error so dropping is the safest option
sales.dropna(subset=['Quantity','Profit'], inplace=True)

C:\Users\prach\AppData\Local\Temp\ipykernel_14676\176124885.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  sales['Category'].fillna(sales['Category'].mode()[0], inplace=True)
C:\Users\prach\AppData\Local\Temp\ipykernel_14676\176124885.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  sales['Ship Mode'].fillna(sales['Ship Mode'].mode()[0],inplace=True)

In [11]:
# Reset index
sales.reset_index(drop=True, inplace=True)

In [12]:
sales.isnull().sum()

Row ID+O6G3A1:R6        0
Order ID                0
Order Date              0
Ship Date               0
Ship Mode               0
Customer ID             0
Customer Name           0
Segment                 0
Country                 0
City                    0
State                   0
Region                  0
Product ID              0
Category                0
Sub-Category            0
Product Name            0
Sales                   0
Quantity                0
Profit                  0
Returns             10342
Payment Mode            0
ind1                10866
ind2                10866
dtype: int64

In [13]:
print('Final dimension of dataset: ',sales.shape)

Final dimension of dataset:  (10866, 23)

Changing column type of Sales to numeric as it was saved as object:

In [14]:
#Before converting i need to remove the $ sign and the comma from that column as python wont be able identify it as float or object:

#Replacing $ and , with blank:
sales['Sales']=sales['Sales'].str.replace('$','').str.replace(',','')

In [15]:
#Now converting the column into float type:
sales['Sales']=sales['Sales'].astype(float)

In [69]:
sales['Sales']

0          73.94
1         173.94
2         231.98
3         114.46
4          30.08
          ...
10861    2501.91
10862    1541.25
10863     110.68
10864       4.18
10865     153.76
Name: Sales, Length: 10866, dtype: float64

Creating a new column Unit Price (Price per quantity):

In [16]:
sales['Price(/unit)']=sales['Sales']/sales['Quantity']

In [17]:
#Final view:
sales.head()

,Row ID+O6G3A1:R6,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Sub-Category,Product Name,Sales,Quantity,Profit,Returns,Payment Mode,ind1,ind2,Price(/unit)
0,4918.0,CA-2019-160304,2019-01-01,2019-01-07,Standard Class,BM-11575,Brendan Murry,Corporate,United States,Gaithersburg,...,Bookcases,"Bush Westfield Collection Bookcases, Medium Ch...",73.94,1.0,28.2668,NaN,Online,NaN,NaN,73.94
1,4919.0,CA-2019-160304,2019-01-02,2019-01-07,Standard Class,BM-11575,Brendan Murry,Corporate,United States,Gaithersburg,...,Bookcases,"Bush Westfield Collection Bookcases, Medium Ch...",173.94,3.0,38.2668,NaN,Online,NaN,NaN,57.98
2,4920.0,CA-2019-160304,2019-01-02,2019-01-07,Standard Class,BM-11575,Brendan Murry,Corporate,United States,Gaithersburg,...,Phones,GE 30522EE2,231.98,2.0,67.2742,NaN,Cards,NaN,NaN,115.99
3,3074.0,CA-2019-125206,2019-01-03,2019-01-05,First Class,LR-16915,Lena Radford,Consumer,United States,Los Angeles,...,Storage,Recycled Steel Personal File for Hanging File ...,114.46,2.0,28.6150,NaN,Online,NaN,NaN,57.23
4,8604.0,US-2019-116365,2019-01-03,2019-01-08,Standard Class,CA-12310,Christine Abelman,Corporate,United States,San Antonio,...,Accessories,Imation Clip USB flash drive - 8 GB,30.08,2.0,-5.2640,NaN,Online,NaN,NaN,15.04

###**Step 3: Exporting cleaned data to MySQL:**

In [74]:
#Mysql Toolkit:

#Installing the 2 libraraies that work for adapter or connector:
!pip install pymysql
!pip install sqlalchemy

Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 45.0/45.0 kB 525.6 kB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.11/dist-packages (2.0.41)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy) (3.2.3)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy) (4.14.1)

In [18]:
#Importing these Libraries  (Installed above)
import pymysql
from sqlalchemy import create_engine

Explorting clean data as csv(dataframe):

In [19]:
sales.to_csv('Cleaned_sales_data.csv',index=False)

Connecting to mysql:

In [ ]:
#Host = localhost
#Port = 3306
#Username = root
#Password = 543210

#Already created a database inthe mysql server named walmart_db

In [20]:
#MySql connection:
engine_mysql = create_engine("mysql+pymysql://root:543210@localhost:3306/walmart_db")

try:
    engine_mysql
    print("Connection to mysql successfully")
except:
    print("Unable to connect")

Connection to mysql successfully

In [21]:
#Directly exporting data to sql (without creating tables) using pandas lib:

sales.to_sql(name='Salesdata',con=engine_mysql, if_exists ='append', index=False)

C:\Users\prach\AppData\Local\Temp\ipykernel_14676\2934120732.py:3: UserWarning: The provided table name 'Salesdata' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  sales.to_sql(name='Salesdata',con=engine_mysql, if_exists ='append', index=False)

10866